[Desktop Entry]
Type=Application
Version=1.0
Name=DB-WEAVE
GenericName=Weaving pattern designer
Comment=Textile CAD/CAM for weaving patterns
Exec=dbweave %F
Icon=dbweave
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=application/x-dbweave;
Keywords=weaving;textile;pattern;loom;cad;
